.about-us {
  @include container-padding-inline;
  
  text-align: center;
  margin-top: 120px;

  @include on-tablet {
    margin-bottom: 148px;
  }

  &__title {
    font-family: $font-family;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #253757;
  }

  &__paragraph {
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6C788B;
  }
}




