.footer {
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: $main-accent-color;
  
  @include container-padding-inline;

  @include on-tablet {
    padding-top: 100px;
  }

  &__icon {
    width: 46px;
    margin-bottom: 60px;
    padding-top: 60px;
  }

}
