.header {
  background-color: $main-accent-color;

  &__wrapper {
    @include container-padding-inline;

    padding-top: 40px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    min-height: 500px;
    display: flex;
    flex-direction: column;

    @include on-desktop {
      justify-content: center;
      padding-top: 150px;
    }
  }

  &__title {
    margin: 0;
    color: $light-test-color;
    font-family: $font-family;
    font-size: 52px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    @include on-tablet {
      font-size: 64px;
      line-height: 68px;
    }
  }

  &__sub-title {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: $light-test-color;
    margin-top: 30px;

    @include on-tablet {
      width: 362px;
    }
  }

  &__learn-more {
    margin-top: 70px;
    margin-bottom: 50px;
    position: relative;


    &--link {
      display: block;
      margin: 0;
      width: 100%px;
      text-decoration: none;
      font-family: $font-family;
      font-size: 15px;
      font-weight: 600;
      text-align: center;
      background-color: $second-accent-color;
      color: $light-test-color;
      padding-top: 15px;
      padding-bottom: 15px;
      border-radius: 8px;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;

      @include on-tablet {
        width: 264px;
      }

    }
  }
}
