.header {
  background-color: $main-accent-color;

  &__central{
    @include container-padding-inline;
  }

  &__title {
    font-family: $font-family;
    font-size: 52px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: $light-test-color;
    margin-top: 48px;
  }

  &__sub-title {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: $light-test-color;
    margin-top: 32px;
  }

  &__learn-more {
    margin-top: 72px;
    display: flex;
    justify-content: center;
    width: 100%;

    &--link {
      display: block;
      margin: 0;
      width: 100%;
      text-decoration: none;
      font-family: $font-family;
      font-size: 15px;
      font-weight: 600;
      text-align: center;
      background-color: $second-accent-color;
      color: $light-test-color;
      padding-top: 15px;
      padding-bottom: 15px;
      border-radius: 8px;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
  }

}
