.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 24px;
    flex-direction: column;

    @include on-tablet {
      flex-direction: row;
    }
  }

  &__link {
    color: white;
    text-decoration: none;
    font-family: $font-family;
    font-size: 13px;
    font-weight: 700;
    line-height: 19.5px;
    letter-spacing: 3px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
  }
}
