.slider {
  position: absolute;
  height: 390px;
  width: 100%;

  bottom: -100px;;
  right: 0;
  left: 0;

  @include on-desktop {
    height: 680px;
    width: 100%;
    inset: auto 0 0 60%;
  }

  &__photo {
    border-radius: 30px;
    height: 100%;
    object-position: 0;
    background-size: cover;
    background-position: 0;

    @include on-desktop {
      border-radius: 30px 0;
    }

    &--one {
      background-image: linear-gradient(
        170deg,
        rgba(255, 255, 255, 0.1) 56%,
        rgba(255, 255, 251, 0.1) 10%,
        rgba(3, 138, 167, 1) 83%
      ),
        url(../images/slider/slide-img-1.png);
    }
  }

  &-controls {
    position: absolute;
    bottom: 122px;
    left: 40px;

    @include on-desktop {
      bottom: 50px;
      left: 50px;
    }

    &__wrapper {
      padding-inline: 20px;
      top: 230px;
      right: 0;
      left: 20px;
      padding: 1
    }

    &__buttons {
      display: flex;
      gap: 24px;
      justify-content: flex-start;
    }

    &__quote {
      color: $light-test-color;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;

      &--title {
        font-family: $font-family;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 3px;
      }
    }
  }

  &-button {
    background-color: #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__icon {
      width: 5px;
    }

  }

}




