@import 'utils';
@import 'fonts';
@import 'typography';
@import './blocks/top-bar';
@import './blocks/header';
@import './blocks/slider';
@import './blocks/about-us';
@import './blocks/expertise';
@import './blocks/services';

body {
  margin: 0;
  background: $c-gray;
  min-width: 320px;
}

.square {
  @include page-grid;
}
