$font-family: "Poppins", sans-serif;
$light-test-color: white;
$main-accent-color: #2C2C2C;
$second-accent-color: #2060F6;
$container-inline-margin-mobile: 20px;
$container-inline-margin-tablet: 40px;
$container-inline-margin-desktop: 55px;
$container-inline-margin-desktop-large: 230px;
$container-inline-margin-desktop-extra-large: 770px;

